<template>
  <div class="page" v-if="isUserConnected()">
    <div class="tabs">
      <div
        v-for="(step, index) in stepsHeader"
        :key="index"
        :class="{
          active: currentStepIndex === index,
          completed: currentStepIndex > index,
        }"
      >
        {{ step }}
      </div>
    </div>
    <component :is="currentStep" @next="nextStep" @previous="previousStep" />
  </div>
</template>

<script lang="ts">
import { defineComponent, markRaw } from "vue";
import StepOne from "../components/Step1.vue";
import StepTwo from "../components/Step2.vue";
import StepThree from "../components/Step3.vue";
import StepFourth from "../components/Step4.vue";
import store from "../stores/index";

export default defineComponent({
  name: "AddIntership",
  components: {
    StepOne: markRaw(StepOne),
    StepTwo: markRaw(StepTwo),
    StepThree: markRaw(StepThree),
    StepFourth: markRaw(StepFourth),
  },

  data() {
    return {
      currentStep: StepOne as any,
      stepsHeader: ["Student", "Documents", "Company", "Grades"],
      steps: [StepOne, StepTwo, StepThree, StepFourth],
      currentStepIndex: 0,
    };
  },
  computed: {
    isConnect() {
      return store.state.isConnected;
    },
  },
  methods: {
    nextStep() {
      if (this.currentStepIndex < this.steps.length - 1) {
        this.currentStepIndex++;
        this.currentStep = this.steps[this.currentStepIndex];
      }
    },
    previousStep() {
      if (this.currentStepIndex > 0) {
        this.currentStepIndex--;
        this.currentStep = this.steps[this.currentStepIndex];
      }
    },
    isUserConnected() {
      if (this.isConnect) {
        return true;
      }else {
        this.$router.push("/connexion");
        return false;
      }
    }
  },
});
</script>

<style lang="scss">
.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs > div {
  width: calc(100% / 4);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs > div.active {
  background-color: #163767;
  color: #fff;
}

.tabs > div.completed {
  background-color: #4d7abd;
  color: #fff;
  cursor: default;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f5f5f5;
  min-height: calc(100vh - 96px);
  max-height: calc(100vh - 96px);
}

form {
  min-width: 600px;
  max-width: 600px;
  margin: auto auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  .form-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #0f2657;
  }

  input[type="text"],
  input[type="number"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;

  .form-group {
    width: 48%;
  }
}

button[type="submit"],
button[type="button"] {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #163767;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #0f2657;
  }
}
</style>