<template>
    <div id="app">
      <form @submit.prevent="userConnected()">
        <h1>Login</h1>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            v-model="email"
            placeholder="Enter your e-mail"
            required
          />
          <span class="error" v-show="!isEmailValid || emailErrorShown">{{
            emailError
          }}</span>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            v-model="password"
            placeholder="Enter your password"
            required
          />
          <span class="error" v-show="!isPasswordValid || passwordErrorShown">{{
            passwordError
          }}</span>
        </div>
        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </template>
  
  <script>
  import { defineComponent } from "vue";
  import store from "../stores/index";
  import axios from "axios";
  
  export default defineComponent({
    name: "Connexion",
    data() {
      return {
        email: "",
        password: "",
        emailErrorShown: false,
        passwordErrorShown: false,
      };
    },
    computed: {
      isEmailValid() {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(this.email);
      },
      isPasswordValid() {
        const passwordRegex =
          /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+|~=`{}\[\]:";'<>?,.\/])[A-Za-z\d!@#$%^&*()_+|~=`{}\[\]:";'<>?,.\/]{6,}$/;
        return passwordRegex.test(this.password);
      },
      emailError() {
        if (this.email === "") {
          return "Please enter your email";
        } else if (!this.isEmailValid) {
          return "Please enter a valid email address";
        } else {
          return "";
        }
      },
      passwordError() {
        let errors = [];
        if (this.password === "") {
          errors.push("Please enter a password");
        } else {
          if (this.password.length < 6) {
            errors.push("Password must contain at least 6 characters");
          }
          if (!/[A-Z]/.test(this.password)) {
            errors.push("Password must contain at least one capital letter");
          }
          if (!/[!@#$%^&*()_+|~=`{}\[\]:";'<>?,.\/]/.test(this.password)) {
            errors.push(
              "Password must contain at least one special character"
            );
          }
          if (!/\d/.test(this.password)) {
            errors.push("Password must contain at least one number");
          }
        }
        return errors.join(", ");
      },
    },
  
    watch: {
      email() {
        if (this.isEmailValid) {
          this.emailErrorShown = false;
        }
      },
      password() {
        if (this.password.length >= 6 && this.isPasswordValid) {
          this.passwordErrorShown = false;
        }
      },
    },
  
    methods: {
      validateForm() {
        if (!this.isEmailValid) {
          this.emailErrorShown = true;
        }
        if (this.password.length < 6 || !this.isPasswordValid) {
          this.passwordErrorShown = true;
        } else {
          this.passwordErrorShown = false;
        }
        if (
          this.isEmailValid &&
          this.password.length >= 6 &&
          this.isPasswordValid
        ) {
          console.log("Valid form !");
        }
      },
  
      async userConnected() {
        const data = new FormData();
        data.append('email', this.email);
        data.append('password', this.password);
        const res = await axios.post('http://localhost:8080/advanced-1.0-SNAPSHOT/loginServlet-servlet', data, {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        });
        if(res.data != null) {
            store.commit("SET_CONNECTED");
            store.commit("SET_USER", res.data);
            this.$router.push("/");
        } else{
            alert("Wrong email or password")
        }
        
      },
    },
    mounted() {},
  });
  </script>
  
  <style lang="scss">
  $list-internship-bg: #f5f5f5;
  $table-header-bg: #163767;
  $table-header-color: #fff;
  $table-row-hover-bg: #4d7abd;
  $table-row-hover-color: #fff;
  
  body {
    background-color: $list-internship-bg;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: $table-header-bg;
    margin: 1rem;
  }
  
  form {
    max-width: 400px;
    margin: 5rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: $table-header-color;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $table-header-bg;
    color: $table-header-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: $table-row-hover-bg;
    color: $table-row-hover-color;
  }
  </style>