<script lang="ts">
import axios from "axios";
import { defineComponent } from "vue";
import { mapState } from "vuex";

export default defineComponent({
  name: "DetailStage",
  data() {
    return {
      stage: {} as any,
      modify: false,
    };
  },

  computed: {
    ...mapState({
      internships: (state: any) => state.internships,
    }),
  },
  methods: {
    async getStage() {
      const id = this.$route.params.identifiant.toString()
      await axios.get(`http://localhost:8080/advanced-1.0-SNAPSHOT/internshipByIdServlet-servlet?id=`+id)
      .then(res => {
        this.stage = res.data[0];
      })
      .catch(error => {
        console.log(error);
      });
    },
    async modifyInternship() {
      this.modify = !this.modify;
      await axios.put(`http://localhost:8080/advanced-1.0-SNAPSHOT/updateInternshipServlet-servlet?id=`+this.stage.id, this.stage)
      .then(res => {
        console.log("Internship modified");
      })
      .catch(error => {
        console.log(error);
      });
    },
    async deleteInternship() {
      await axios.delete(`http://localhost:8080/advanced-1.0-SNAPSHOT/removeInternshipServlet-servlet?id=`+this.stage.id)
      .then(res => {
        console.log("Internship deleted");
      })
      .catch(error => {
        console.log(error);
      });
      this.$router.push("/");
    }
  },
  created() {
    this.getStage();
  },
});
</script>

<template>
  <div class="container-card">
    <div class="card">
      <h2>{{ stage?.name }}</h2>
      <div class="info">
        <p>
          <span class="label">Group:</span>
          <span v-if="!modify" class="value">{{ stage?.promotion }}</span>
          <input v-else type="text" v-model=" stage.promotion"/>
        </p>
      </div>
      <h3>Documents</h3>
      <div class="info">
        <p>
          <span class="label">CDC:</span>
          <span v-if="!modify" class="value">{{ stage?.cdc }}</span>
          <input v-else type="text" v-model=" stage.cdc"/>
        </p>
        <p>
          <span class="label">Form:</span>
          <span v-if="!modify" class="value">{{ stage?.form }}</span>
          <input v-else type="text" v-model=" stage.form"/>
        </p>
        <p>
          <span class="label">Visit:</span>
          <span v-if="!modify" class="value">{{ stage?.visit }}</span>
          <input v-else type="text" v-model=" stage.visit"/>
        </p>
      </div>
      <h3>Company</h3>
      <div class="info">
        <p>
          <span class="label">Name:</span>
          <span v-if="!modify" class="value">{{ stage?.company }}</span>
          <input v-else type="text" v-model=" stage.company"/>
        </p>
        <p>
          <span class="label">Address:</span>
          <span v-if="!modify" class="value">{{ stage?.address }}</span>
          <input v-else type="text" v-model=" stage.address"/>
        </p>
        <p>
          <span class="label">Start:</span>
          <span v-if="!modify" class="value">{{ stage?.start }}</span>
          <input v-else type="text" v-model=" stage.start"/>
        </p>
        <p>
          <span class="label">End:</span>
          <span v-if="!modify" class="value">{{ stage?.end }}</span>
          <input v-else type="text" v-model=" stage.end"/>
        </p>
      </div>
      <h3>Results</h3>
      <div class="info">
        <p>
          <span class="label">Technical grade:</span>
          <span v-if="!modify" class="value">{{ stage?.techGrade }}</span>
          <input v-else type="text" v-model=" stage.techGrade"/>
        </p>
        <p>
          <span class="label">Communication grade:</span>
          <span v-if="!modify" class="value">{{ stage?.comGrade }}</span>
          <input v-else type="text" v-model=" stage.comGrade"/>
        </p>
      </div>
      <button v-if="!modify" @click="modify = !modify">Modify</button>
      <button v-else @click="modifyInternship">Validate</button>
      <button v-if="!modify" @click="deleteInternship">Delete</button>
    </div>
  </div>
</template>

<style lang="scss">
.container-card{
  min-height: calc(100vh - 96px);
  max-height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 400px;
  margin: auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
  padding: 2px !important;
}

.value {
  color: #777;
}

input{
  width: auto !important;
  padding: 1px !important;
}
</style>
