<template>
  <div class="list-view" v-if="isUserConnected()">
      <router-link class="add-stagiaire-btn" to="/addIntership">Add internship</router-link>
    <ListeStages />
  </div>
</template>

<script>
import ListeStages from "../components/ListeStages.vue";
import store from "../stores/index";

export default {
  components: {
    ListeStages,
  },
  data() {
    return {};
  },
  computed: {
    isConnect() {
      return store.state.isConnected;
    },
  },
  methods:{
    isUserConnected() {
      if (this.isConnect) {
        return true;
      }else {
        this.$router.push("/connexion");
        return false;
      }
    }
  },
};
</script>

<style lang="scss">
.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .add-stagiaire-btn {
    margin: 1rem;
    background-color: #163767;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #4d7abd;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
</style>
