<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "NotFound",
  setup() {
    return {};
  },
});
</script>

<template>
  <div class="not-found">
    <h1>404</h1>
    <h2>Page not found</h2>
  </div>
</template>

<style lang="scss">
.not-found {
  height: 80vh;
  width: 100%;
}
</style>
