<template>
  <div class="list-stages">
    <main>
      <section>
        <div class="input-box">
          <label for="group">Group</label>
          <select id="group" v-model="selectedOption">
            <option value="">All</option>
            <option v-for="option in optionFilters" :value="option">
              {{ option }}
            </option>
          </select>
        </div>

        <div class="input-box">
          <label for="entreprise">Company</label>
          <input type="text" id="entreprise" v-model="entrepriseFiltre" />
        </div>
      </section>

      <div class="pagination">
        <button
          @click="changePage(currentPage - 1)"
          :disabled="currentPage === 1"
        >
          <font-awesome-icon icon="chevron-left" />
        </button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button
          @click="changePage(currentPage + 1)"
          :disabled="currentPage === totalPages"
        >
          <font-awesome-icon icon="chevron-right" />
        </button>
      </div>

      <table>
        <thead>
          <tr>
            <th v-for="col in colonnes">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <Stage v-for="(stage, index) in stages" :key="index" :stage="stage" />
        </tbody>
      </table>
    </main>
  </div>
</template>

<script lang="ts">
import Stage from "./Stage.vue";
import store from "../stores/index";
import {
  filterByOption,
  filterByEntreprise,
} from "../services/service";

export default {
  name: "ListStages",
  components: {
    Stage,
  },
  data() {
    return {
      dateRangeSelect: {
        start: new Date(),
        end: new Date(),
      },
      colonnes: [
        "Id",
        "Group",
        "Name",
        "Start",
        "End",
        "Company",
        "Address",
        "Tech. grade",
        "Com. Grade",
      ],
      stages: [],
      entrepriseFiltre: "",
      perPage: 4,
      currentPage: 1,
      selectedGroup: "",
      selectedOption: "",
      optionFilters: ["l1", "l2", "l3", "m1", "m2"],
    };
  },
  computed: {
    totalPages() {
      return Math.ceil(store.state.internships.length / this.perPage);
    },
  },
  watch: {
    entrepriseFiltre() {
      this.stages = filterByEntreprise(
        store.state.internships,
        this.entrepriseFiltre
      );
      this.entrepriseFiltre === "" && this.getStages(this.stages);
    },
    selectedOption() {
        this.stages = filterByOption(
        store.state.internships,
        this.selectedOption
      );
      this.getStages(this.stages);
    },
  },
  methods: {
    getStages(stages : any) {
      const start = (this.currentPage - 1) * this.perPage;
      const end = start + this.perPage;
      const filteredStages = JSON.parse(JSON.stringify(stages.slice(start, end)));//
      this.stages = { ...filteredStages };
    },
    changePage(page: number) {
      const isValidPage =
        page >= 1 && page <= this.totalPages && page !== this.currentPage;
      isValidPage ? ((this.currentPage = page), this.getStages(store.state.internships)) : null;
    },
  },
  async mounted() {
    await store.dispatch("fetchInternships");
    this.currentPage = 1;
    this.getStages(store.state.internships);
    
  },
};
</script>

<style lang="scss">
$list-internship-bg: #f5f5f5;
$table-header-bg: #163767;
$table-header-color: #fff;
$table-row-hover-bg: #4d7abd;
$table-row-hover-color: #fff;

.list-stages {
  width: 100%;
  max-height: calc(100vh - 96px);

  h1 {
    font: 700 2rem #173767;
    text-align: center;
    margin: 2rem auto;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;

    section {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font: 700 1.5rem #163767;
        margin-bottom: 1rem;
      }

      .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 2rem auto;
        margin-left: 2rem;
        margin-right: 2rem;

        label {
          font-weight: 700;
          font-size: 1.2rem;
          color: black !important;
          margin-bottom: 1rem;
        }

        input {
          width: 100%;
          padding: 1rem;
          border: 1px solid #163767;
          border-radius: 5px;
          outline: none;
          font: 700 1.2rem #163767;
          margin-bottom: 1rem;
        }
      }
    }

    table {
      margin: 2rem auto;
      margin-left: 2rem;
      margin-right: 2rem;
      border-collapse: collapse;
      width: 500px;
      white-space: nowrap;
      background-color: $list-internship-bg;

      thead th {
        background-color: $table-header-bg;
        color: $table-header-color;
        padding: 1rem;
        text-align: center;
      }

      tbody .row {
        color: #163767;

        &:hover {
          background-color: $table-row-hover-bg;
          cursor: pointer;
          color: $table-row-hover-color;
        }
      }

      td {
        padding: 1.5rem 1rem;
        text-align: center;
        vertical-align: middle;
        border-bottom: #163767 1px solid;

        &:first-child {
          text-align: left;
        }
      }
    }
  }
}
</style>
