<template>
  <tr class="stage-row" @click="changePage()">
    <td>{{ stage.id }}</td>
    <td>{{ stage.promotion }}</td>
    <td>{{ stage.name }}</td>
    <td>{{ stage.start.toString().substring(0, 10) }}</td>
    <td>{{ stage.end.toString().substring(0, 10) }}</td>
    <td>{{ stage.company }}</td>
    <td>{{ stage.address }}</td>
    <td>{{ stage.techGrade }}</td>
    <td>{{ stage.comGrade }}</td>
  </tr>
</template>

<script lang="ts">
export default {
  props: {
    stage: {
      type: Object as any,
      required: true,
    },
  },
  methods: {
    changePage() {
      this.$router.push("/detail-stage/" + this.stage.id);
    },
  },
};
</script>

<style lang="scss">
.stage-row {
  color: #163767;

  &:hover {
    background-color: #4d7abd;
    cursor: pointer;
    color: #fff;
  }
}
</style>
