<template>
  <div>
    <form action="step4" @submit.prevent="valider">
      <div class="form-group">
        <label for="techGrade">Technical grade :</label>
        <input
          min="0"
          max="20"
          type="number"
          id="techGrade"
          v-model="results.techGrade"
          step="any"
        />
      </div>
      <div class="form-group">
        <label for="comGrade">Communication grade :</label>
        <input
          min="0"
          max="20"
          type="number"
          id="comGrade"
          v-model="results.comGrade"
          step="any"
        />
      </div>
      <div class="form-button">
        <button type="button" @click="previousStep">Back</button>
        <button type="submit">Validate</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { defineComponent } from "vue";
import { mapState, mapMutations } from "vuex";

export default defineComponent({
  name: "Step4",
  computed: {
    ...mapState({
      results: (state: any) => state.internship.results,
      internship: (state: any) => state.internship,
      user: (state: any) => state.userConnected,
    }),
  },

  methods: {
    ...mapMutations(["addInternship"]),
    previousStep() {
      this.$emit("previous");
    },
    async valider() {
      const newStart = this.internship.enterprise.start.getFullYear() +'-'+ (this.internship.enterprise.start.getMonth()+1) +'-'+ this.internship.enterprise.start.getDate();
      const newEnd = this.internship.enterprise.end.getFullYear() +'-'+ (this.internship.enterprise.end.getMonth()+1) +'-'+ this.internship.enterprise.end.getDate();
      await axios.post(`http://localhost:8080/advanced-1.0-SNAPSHOT/addInternshipServlet-servlet?start=`+newStart+`&end=`+newEnd+
                          `&promotion=`+this.internship.user.group+`&company=`+this.internship.enterprise.company+`&address=`+this.internship.enterprise.address+`&student_id=`+this.internship.user.id+
                          `&tutorId=`+ this.user.id+`&survey=`+this.internship.docs.survey+`&techGrade=`+this.internship.results.techGrade+`&comGrade=`+this.internship.results.comGrade+`&cdc=`+this.internship.docs.cdc+
                          `&form=`+this.internship.docs.form+`&visit=`+this.internship.docs.visit+`&evaluation=`+this.internship.docs.evaluation+`&web=`+this.internship.docs.web+
                          `&report=`+this.internship.docs.report+`&delivery=`+this.internship.docs.delivery+`&defense=`+this.internship.docs.defense+`&visit_planned=`+this.internship.docs.planning+`&visit_done=`+this.internship.docs.done);
      this.$router.push("/");
    },
  },
});
</script>
