<template>
  <div>
    <form action="step2" @submit.prevent="nextStep">
      <div class="container-allradios">
        <div class="container-radio">
          <div class="form-group">
            <label for="cdc">CDC :</label>
            <input type="checkbox" id="cdc" v-model="docs.cdc" />
          </div>
          <div class="form-group">
            <label for="form">Form :</label>
            <input type="checkbox" id="form" v-model="docs.form" />
          </div>
          <div class="form-group">
            <label for="visit">Visit :</label>
            <input type="checkbox" id="visit" v-model="docs.visit" />
          </div>
          <div class="form-group">
            <label for="evaluation">Evaluation :</label>
            <input type="checkbox" id="evaluation" v-model="docs.evaluation" />
          </div>

          <div class="form-group">
            <label for="survey">Survey :</label>
            <input type="checkbox" id="survey" v-model="docs.survey" />
          </div>
        </div>
        <div class="container-radio">
          <div class="form-group">
            <label for="web">Web :</label>
            <input type="checkbox" id="web" v-model="docs.web" />
          </div>
          <div class="form-group">
            <label for="report">Report :</label>
            <input type="checkbox" id="report" v-model="docs.report" />
          </div>
          <div class="form-group">
            <label for="delivery">Delivery :</label>
            <input type="checkbox" id="delivery" v-model="docs.delivery" />
          </div>
          <div class="form-group">
            <label for="defense">Defense :</label>
            <input type="checkbox" id="defense" v-model="docs.defense" />
          </div>
          <div class="form-group">
            <label for="planning">Planning :</label>
            <input type="checkbox" id="planning" v-model="docs.planning" />
          </div>
          <div class="form-group">
            <label for="done">Done :</label>
            <input type="checkbox" id="done" v-model="docs.done" />
          </div>
        </div>
      </div>

      <div class="form-button">
        <button type="button" @click="previousStep">Back</button>
        <button type="submit">Next</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapState } from "vuex";

export default defineComponent({
  name: "StepTwo",
  computed: {
    ...mapState({
      docs: (state: any) => state.internship.docs,
    }),
  },
  methods: {
    previousStep() {
      this.$emit("previous");
    },
    nextStep() {
      this.$emit("next");
    },
  },
});
</script>

<style lang="scss" scoped>
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container-allradios {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .container-radio {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        label {
          width: 50%;
        }
      }
    }
  }
}
label {
  margin-bottom: 0.5rem !important;
  color: #163767;
}
input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #163767;
  border-radius: 0.5rem;
  accent-color: #163767;
  margin-bottom: 1rem;
}
</style>