<template>
  <div>
    <form action="step3" @submit.prevent="nextStep">
      <div class="form-group">
        <label for="id">Entreprise :</label>
        <input type="text" id="id" v-model="enterprise.company" />
        <div v-if="errorEnterprise" class="error-message">
          Please complete this field
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address :</label>
        <input type="text" id="address" v-model="enterprise.address" />
        <div v-if="errorAddress" class="error-message">
          Please complete this field
        </div>
      </div>

      <v-date-picker class="date-picker" v-model="range" is-range :min-date="new Date()" />
      {{ range.start.getDate() }}/{{ range.start.getMonth() }}/{{
        range.start.getFullYear()
      }}
      - {{ range.end.getDate() }}/{{ range.end.getMonth() }}/{{
        range.end.getFullYear()
      }}
      <div v-if="errorDate" class="error-message">The end date must be later than the start date.</div>
      <div class="form-button">
        <button type="button" @click="previousStep">Back</button>
        <button type="submit">Next</button>
      </div>
    </form>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { mapState } from "vuex";
export default defineComponent({
  name: "StepOne",
  data() {
    return {
      range: {
        start: new Date(),
        end: new Date(),
      },
      errorEnterprise: false,
      errorAddress: false,
      errorDate: false,
      minDate: new Date(),
    };
  },

  computed: {
    ...mapState({
      enterprise: (state: any) => state.internship.enterprise,
    }),
  },

  methods: {
    previousStep() {
      this.$emit("previous");
    },
    nextStep() {
      this.errorEnterprise = this.enterprise.company === "";
      this.errorAddress = this.enterprise.address === "";
      this.errorDate = this.range.start >= this.range.end;

      if (!this.errorEnterprise && !this.errorAddress && !this.errorDate) {
        this.enterprise.start = this.range.start;
        this.enterprise.end = this.range.end;
        this.$emit("next");
      }
    },
  },
});
</script>

<style lang="scss" scoped>
.error-message {
  color: red;
}

.date-picker{
  margin-bottom: 15px;
}
</style>