<template>
  <div>
    <form action="step1" @submit.prevent="nextStep">
      <label>Choose a Student : </label>
      <div class="student-list-container">
        <div
          class="student-list"
          v-for="(student, index) in studentList"
          :key="index"
        >
          <input
            type="radio"
            :id="student.id"
            :value="student"
            v-model="selectedStudent"
          />
          <div class="data">{{ student.name }}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="promo">Promotion :</label>
        <select id="promo" v-model="user.group">
          <option value="" disabled selected>Choose your option</option>
          <option v-for="promo in promotionList" :value="promo" :key="promo">
            {{ promo }}
          </option>
        </select>
        <div v-if="!user.group" class="error-message">
          Please select a promotion
        </div>
      </div>
      <button type="submit">Next</button>
    </form>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { defineComponent } from "vue";
import { mapState } from "vuex";

export default defineComponent({
  name: "StepOne",
  data() {
    return {
      name: "",
      studentList: [Object as any],
      selectedStudent: {} as Record<string, unknown>,
      showForm: false,
      promotionList: ["L1", "L2", "L3", "M1", "M2"],
    };
  },
  computed: {
    ...mapState({
      user: (state: any) => state.internship.user,
    }),
  },
  methods: {
    nextStep() {
      if (this.selectedStudent && this.user.group) {
        this.user.id = this.selectedStudent.id;
        this.user.name = this.selectedStudent.name;
        this.$emit("next");
      }
    },
    async getAllStudents() {
      const res = await axios.get(
        `http://localhost:8080/advanced-1.0-SNAPSHOT/studentServlet-servlet`
      );
      this.studentList = res.data;
    },
  },
  created() {
    this.getAllStudents();
  },
});
</script>

<style lang="scss" scoped>
.button {
  background-color: blue;
  color: white;
  width: fit-content;
  cursor: pointer;
}

label {
  margin-bottom: 0.5rem;
  color: #163767;
  margin-right: 5rem;
}

.data {
  margin-bottom: 0 !important;
  color: #163767;
  margin-left: 5px;
}
.student-list {
  display: flex;
  flex-direction: row;
}
.student-list-container {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.error-message {
  color: red;
}
</style>