<template>
  <div>
    <header>
      <div class="container">
        <div class="left">
          <ul v-show="isConnect">
            <li>
              <router-link to="/">List Intership</router-link>
            </li>
          </ul>
        </div>
        <div class="right">
          <router-link v-show="!isConnect" to="/connexion"
            >connexion</router-link
          >
          <p v-show="isConnect">{{ user.name }}</p>
          <button v-show="isConnect" class="logout" @click="logout()">Logout</button>
        </div>
      </div>
    </header>
    <router-view />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import store from "./stores/index";
import "v-calendar/dist/style.css";

export default defineComponent({
  name: "App",
  data() {
    return {};
  },
  computed: {
    isConnect() {
      return store.state.isConnected;
    },
    user() {
      return store.state.userConnected;
    },
  },

  methods: {
    logout() {
      store.commit("SET_DISCONNECTED");
      store.commit("SET_USER", "");
      this.$router.push("/connexion");
    },
  },
  mounted() {},
});
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
.logout{
  cursor: pointer;
}

header {
  background-color: #163767;
  color: #fff;
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-height: 96px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 1rem;

          a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: #4d7abd;
            }
          }
        }

        // Ajoute ce bloc pour styliser le bouton connexion
        button {
          background-color: #4d7abd;
          color: #fff;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
          transition: background-color 0.3s ease-in-out;
          cursor: pointer !important;

          &:hover {
            background-color: #163767;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      p {
        margin-right: 1rem;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #4d7abd;
        }
      }

      button {
        color: #fff;
        background-color: #4d7abd;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #163767;
        }
      }
    }
  }
}
</style>